@mixin wordSize($s, $m, $l, $height) {
  .text__word {
    height: $height;

    &_width {

      &_s {
        width: $s;
      }
      &_m {
        width: $m;
      }
      &_l {
        width: $l;
      }

    }

  }
}

@mixin wordColor($color) {
  .text__word {
    background-color: $color;
  }
}

.text {
  display: flex;
  flex-flow: column;

  &_align {

    &_center {
      align-items: center;
    }

  }

  &_size {

    &_s {
      @include wordSize(20px, 48px, 100px, 8px)
    }
    &_m {
      @include wordSize(24px, 56px, 114px, 10px)
    }
    &_l {
      @include wordSize(28px, 68px, 138px, 11px)
    }
    &_xl {
      @include wordSize(32px, 74px, 154px, 13px)
    }
    &_xxl {
      @include wordSize(36px, 88px, 184px, 16px)
    }

  }

  &_type {

    &_h1 {
      margin: 18px 0 24px;
    }
    &_h2 {
      margin: 45px 0 21px;
    }
    &_h3 {
      margin: 42px 0 0;
    }
    &_p {
      margin: 15px 0 21px;
    }

  }

  &_view {

    &_primary {
      @include wordColor(var(--primary));
    }
    &_secondary {
      @include wordColor(var(--secondary));
    }
    &_ghost {
      @include wordColor(var(--extra));
    }
    &_link {
      @include wordColor(var(--link));
    }

  }

}