.card {
  position: relative;

  &_border {

    &_all {
      border: 3px solid var(--border-color);
    }

  }

  &_view {

    &_default {
      background-color: var(--default-color);
    }

  }



  &__content {
    display: flex;
    flex-flow: column;

    &_distribute {

      &_center {
        justify-content: center;
      }

    }

    &_vertical-align {

      &_center {
        align-items: center;
      }

    }

    &_space-a {

      &_m {
        padding: var(--indent-m);
      }
      &_l {
        padding: var(--indent-l);
      }
      &_xl {
        padding: var(--indent-xl);
      }
      &_xxl {
        padding: var(--indent-xxl);
      }
      &_xxxl {
        padding: var(--indent-xxxl);
      }

    }

  }

  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;

    &_distribute {

      &_between {
        justify-content: space-between;
      }
      &_center {
        justify-content: center;
      }
      &_right {
        justify-content: right;
      }

    }

    &_vertical-align {

      &_center {
        align-items: center;
      }
      &_top {
        align-items: flex-start;
      }
      &_bottom {
        align-items: flex-end;
      }

    }

    &_space-a	{

      &_m {
        padding: var(--indent-m);
      }
      &_l {
        padding: var(--indent-l);
      }
      &_xl {
        padding: var(--indent-xl);
      }
      &_xxl {
        padding: var(--indent-xxl);
      }
      &_xxxl {
        padding: var(--indent-xxxl);
      }

    }

  }

}