.informer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  &_border {

    &_all {
      border: 3px solid var(--border-color);
    }

  }

  &_view {

    &_default {
      background-color: var(--default-color);
    }

  }




  &__content, &__action {
    display: flex;
    flex-flow: column;

    &_distribute {

      &_between {
        align-items: space-between;
      }
      &_center {
        align-items: center;
      }

    }

    &_space-a	{

      &_xl {
        padding: var(--indent-xl);
      }
      &_xxl {
        padding: var(--indent-xxl);
      }

    }

  }

}