.section {

  &_indent-b {

    &_xxl {
      margin-bottom: var(--indent-xxl);
    }
    &_xxxxl {
      margin-bottom: var(--indent-xxxxl);
    }

  }
    

  &_space-v {

    &_xxl {
      padding-top: var(--indent-xxl);
      padding-bottom: var(--indent-xxl);
    }
    &_xxxxl {
      padding-top: var(--indent-xxxxl);
      padding-bottom: var(--indent-xxxxl);
    }

  }

}