@mixin themeVariables(
  $default-color,
  $accent-color,
  $border-color,
  $primary-text,
  $secondary-text,
  $extra-text,
  $link-text,
  $isImgInversed: false
) {
  /* Значения фонов блоков: */
  --default-color: #{$default-color};
  --accent-color: #{$accent-color};
  --border-color: #{$border-color};

  /* Значения состояний текста: */
  --primary-text: #{$primary-text};
  --secondary-text: #{$secondary-text};
  --extra-text: #{$extra-text};
  --link-text: #{$link-text};

  @if $isImgInversed {
    --inversed-display: block;
    --primary-display: none;
  } @else {
    --inversed-display: none;
    --primary-display: block;
  }
}

.theme {
  background-color: var(--default-color);

  /*--Цвета всех элементов интерфейса--*/
  &_color {

    &_project {

      &-default {
        @include themeVariables(
          #FFFFFF, 
          #ffcc00, 
          #000000, 
          #000000, 
          rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.3), 
          #0077ff
        )
      }
      &-brand {
        @include themeVariables(
          #0077ff, 
          #FFFFFF, 
          #FFFFFF, 
          #FFFFFF, 
          rgba(255, 255, 255, 0.6), 
          rgba(255, 255, 255, 0.3), 
          #FFFFFF,
          $isImgInversed: true
        )
      }
      &-inverse {
        @include themeVariables(
          #000000, 
          #FFFFFF, 
          #FFFFFF, 
          #FFFFFF, 
          rgba(255, 255, 255, 0.6), 
          rgba(255, 255, 255, 0.3), 
          #0077ff,
          $isImgInversed: true
        )
      }
      &-warning {
        @include themeVariables(
          #ff3333, 
          #FFFFFF, 
          #ff3333, 
          #FFFFFF, 
          rgba(255, 255, 255, 0.6), 
          rgba(255, 255, 255, 0.3), 
          #FFFFFF
        )
      } 

    }

  }

  /*--Размеры типографических величин--*/
  &_size {

    &_default {
      /* Значения размеров высоты текста (так как в задании текст в виде линий) */
      --text-height-s: 8px;
      --text-height-m: 10px;
      --text-height-l: 11px;
      --text-height-xl: 13px;
      --text-height-xxl: 16px;

      /* Значения межстрочных интервалов */
      --line-height-s: 21px;
      --line-height-m: 25px;
      --line-height-l: 28px;
      --line-height-xl: 34px;
      --line-height-xxl: 38px;
    }

  }

  /*--Размеры отступов между элементами интерфейса--*/
  &_space {

    &_default {
      --indent-xxxs: 3px;
      --indent-xxs: 6px;
      --indent-xs: 9px;
      --indent-s: 15px;
      --indent-m: 18px;
      --indent-l: 24px;
      --indent-xl: 27px;
      --indent-xxl: 36px;
      --indent-xxxl: 45px;
      --indent-xxxxl: 51px;
      --indent-xxxxxl: 72px;
    }

  }

  &_gap {

    &_small {
      --gap: var(--indent-xl);

      @media (max-width: $mobile-breakpoint) {
        --gap: var(--indent-s); 
      }
    }

  }

}